#将被git忽略的文件后缀
*.dat
*.ipchasdfasdf
*.VC
*.suo
*.vsidx
*.db
*.obj
*.pdb
*.tlog
*.iobj
*.ipdb
*.log
*.o
*.d
\controllers\Dynamics_LQR_onVS\.vs
\controllers\Dynamics_LQR_onVS\x64
controllers/dynamic_lqr/build/release/dynamic_lqr.exe
controllers/dynamic_lqr/dynamic_lqr.exe
eigen-3.4.0/**